<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"  
    xmlns:tool="http://www.springframework.org/schema/tool" xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/tx  
     http://www.springframework.org/schema/tx/spring-tx.xsd  
     http://www.springframework.org/schema/aop  
     http://www.springframework.org/schema/aop/spring-aop.xsd  
     http://www.springframework.org/schema/jee  
     http://www.springframework.org/schema/jee/spring-jee.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context.xsd  
     http://www.springframework.org/schema/util  
     http://www.springframework.org/schema/util/spring-util.xsd  
     http://www.springframework.org/schema/tool  
     http://www.springframework.org/schema/tool/spring-tool.xsd"  
    default-lazy-init="true" default-autowire="byName">  
    
    <context:annotation-config/>
    <!--  
    <context:component-scan base-package="com.beyondsoft.analyzer"/>
  	-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>
                <value>classpath:/db.properties</value>  
            </list>  
        </property>  
    </bean>  
  
    <!-- C3P0 -->  
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
        p:driverClass="${jdbc.driver}"
        p:jdbcUrl="${jdbc.url}"
        p:user="${jdbc.username}"
        p:password="${jdbc.password}"
        p:acquireIncrement="${c3p0.acquireIncrement}"
        p:initialPoolSize="${c3p0.initialPoolSize}" 
		p:minPoolSize="${c3p0.minPoolSize}" 
        p:maxPoolSize="${c3p0.maxPoolSize}" 
        p:maxIdleTime="${c3p0.maxIdleTime}"
        p:idleConnectionTestPeriod="${c3p0.idleConnectionTestPeriod}"
        p:maxStatements="${c3p0.maxStatements}"
        p:numHelperThreads="${c3p0.numHelperThreads}" 
		p:checkoutTimeout="${c3p0.checkoutTimeout}"
		p:testConnectionOnCheckin="${c3p0.testConnectionOnCheckin}"
		p:automaticTestTable="${c3p0.automaticTestTable}"
		p:testConnectionOnCheckout="${c3p0.testConnectionOnCheckout}"
		destroy-method="close" /> 
  
</beans>